
.popFoodsSect{
    padding-bottom: 150px;
}

.popularTitle{
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    font-size: 28px;
}


.categoryContainer{
    width: 100%;
}

.categoryContainer .btnContainer{
    background: #df2020;
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
    border-radius: 8px;
    display: flex;
    align-items: center !important;
    justify-content: center;
}

.pFoods{
    display: flex;
    align-items: center;
    padding: 7px 20px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transition: all .3s ease-in-out;
    margin-right: 10px;
}

.pFoods:hover, .pFoods.active{
    background-color: #fff;
    border-radius: 4px;
    color: black;
}