* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #fff;
    
}

::-webkit-scrollbar {
    width: 0.5em;
}
  

::-webkit-scrollbar-thumb {
    background-color: transparent;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}