.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it appears above other elements */
}
  
.modal-content {
    background-color: #fff; /* White background for the modal */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Adjust the width as needed */
    text-align: center;
}
  
.modal-content h2 {
    color: #333; /* Text color */
}
  
.modal-content p {
    color: #666; /* Text color */
}
  
.modal-content button {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
  
.modal-content button:hover {
    background-color: #0056b3; /* Button background color on hover */
}

.countdown {
    height: 10px; /* Height of the slider */
    background-color: #ccc; /* Background color of the countdown bar */
    border-radius: 5px;
    overflow: hidden; /* Hide overflowing parts of the slider */
    margin-top: 10px;
}
  
.slider {
    height: 100%; /* Height of the slider */
    background-color: #007bff; /* Slider color */
    transition: width 1s linear; /* Animation duration and timing function */
}