
.auth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.auth-container-box{
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, .05) 0 6px 24px, rgba(0, 0, 0, .08) 0 0 0 1px;
    background-color: #fde4e4;
}

.auth-container-box form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    padding: 20px;
}

.auth-container-box form input{
    height: 50px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    padding-bottom: 0;
    outline: none;
    background-color: transparent;
}

.auth-options{
    display: flex;
}

.auth-options button{
    width:  50%;
    border: none;
    padding: 20px;
    color: rgb(35, 38, 47);
    cursor: pointer;
    border: 1px solid #df2020;
}

.auth-container form .create {
    border: 1.5px solid #df2020;
    background-color: transparent;
    color: rgb(108, 115, 148);
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.auth-container form .create:hover{
    background-color: #df2020;
    color: white;
}

.auth-container form .create:active{
    color: white;
    background-color: rgb(108, 115, 148);
}

.error-msg{
    color: rgba(237, 63, 63, 0.875);
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
}