
.checkout_bill_col{
    background-color: #fde4e4;
    padding: 40px;
    width: 30%;
}

.checkout_bill_col h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.checkout_product_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.checkout_product_container h4{
    margin-bottom: 10px;
}

.checkout_product_container .product_desc{
    width: 50%;
}

.checkout_bill_col .checkout_total{
    border-top: 1px solid black;
}

.checkout_total h3{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cuponInputContainer{
    margin-top: 50px;
    border-top: 1px solid black;
}

.cuponInputContainer .inputContainer{
    display: flex;
    justify-content: space-between;
}

.inputContainer input{
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 75%;
}

.inputContainer button{
    padding: 10px;
    cursor: pointer;
    background-color: #df2020;
    color: #fff;
    outline: none;
    border: none;
}
