
.order_heading {
    text-align: center;
    color: #333;
    margin-top: 130px;
    margin-bottom: 50px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 100px;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #df2020;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.status-completed {
    font-weight: bold;
    color: #008000;
}
  
.status-pending {
    font-weight: bold;
    color: #ff9900;
}